* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

html {
    background-color: #fff;
}

body {
    color: #3f2860;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #eff4f7;
}

h1 {
    text-align: center;
}

#slogan {
    text-align: center;
    padding-top: 5px;
}

nav {
    text-align: center;
    height: 75px;
    background-color: yellowgreen;
    margin-bottom: 40px;
}

.nav {
    display: inline-block;
    padding: 24px;
    
}

header {
    background-color: #cbfece;
    text-align: center;
    padding: 10px 10px;
}

h2 {
    padding: 10px 10px;
}

p {
    padding-left: 10px;
    padding-bottom: 20px;
}

main {
    margin: auto 20% auto 20%;
    padding: 16px;
    border: 2px solid white;
    border-radius: 20px;
}

section {
    padding: 20px 0 20px 0;
    margin: 10px auto auto auto;
    background-color: #fff9e8;
    border-radius: 20px;
}

.service {
    display: inline-block;
    width: 47%;
    background-color: #ffffff;
    padding: 24px 11px 24px 11px;
    margin: auto auto 20px 5px;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
}

figure {
    margin: 10px 10px 10px 10px;
}

img {
    width: 100%;
    height: auto;
}

.top {
    padding: 20px 0 20px 0;
    margin: auto 10% 10% 10%;
}

.topimg {
    width: 100%;
    height: 400px;
}

footer {
    background-color: #573A56;
    font-size: 0.7em;
    text-align: center;
    color: #fff9e8;
    padding: 16px;
    margin-top: 32px;
}